div.iconButton, div.iconButtonNarrow, div.iconButtonWide {
  border: 0px solid #bbbbbb;
  background-color: #ffffff;
  padding: 2px 2px 0px 0px;
  width: 66px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  background-color: transparent;
}

div.iconButtonDisabled {
  cursor: not-allowed;
}

div.theIcon {
  border: 0px solid #00bbbb;
}

div.iconButtonNarrow {
  width: 36px;
}

div.iconButtonWide {
  width: 90px;
}

div.iconCaption, div.iconLinkCaption {
  border: 0px solid #00bbbb;
  padding: 4px 6px 0px 6px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

div.iconCaptionDisabled {
  color: #bbbbbb;
}

div.iconButtonWide div.iconCaption {
  display: flex;
  flex-wrap: no-wrap;
  padding-bottom: 0;
  margin-bottom: 0;
}

.iconButton a:hover, .iconButton a:visited, .iconButton a:link, .iconButton a:active {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 600px) {

  div.iconCaption {
    font-size: 9px;
  }
  div.iconButton {
    width: 62px;
  }

}


