body {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  background-color: #ffffff;
  }

.mainContainer {
  padding: 0px 0 14px 0;
  margin: 0px 0 10px 0;
  font-size: 18px;
  text-align: left;
  background-color: #ffffff;
}

.hidden {
  display: none;
}

.topLogo {
  padding: 8px 0px 12px 0px;
  font-size: 14px;
  font-weight: bold;
  background-color: #33691e;
  color: #eeeeee;
  width: 100%;
  text-align: center;
  font-variant-caps: all-petite-caps;
}

.headingZone {
  padding: 7px 5px 12px 3px;
  display: grid;
  grid-template-columns: 1fr 170px;
  max-width: 600px;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #bbbbbb;
}

.catHeading {
  background-color: #fce4ec;
}

.topHeading {
  background-color: #b2ebf2;
}

.listHeading {
  background-color: #dcedc8;
}

.loginHeading {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #fff3e0;
}

.headingNameArea {
  border: 0px solid black;
  font-size: 24px;
  font-weight: bold;
  padding: 5px 0 0 10px;
}

.headingIcons {
  border: 0px solid black;
  padding: 2px 0px 0px 0px;
  justify-self: end;
  align-self: start;
  display: flex;
  align-items: flex-start;
}

div.moveHeader {
  padding: 30px 12px 14px 12px;
  font-size: 17px;
  font-weight: bold;
}

div.moveArea {
  border: 1px solid #99cccc;
  padding: 10px 12px 14px 12px;
  width: 410px;
  margin: 0px 0 16px 0;
  background-color: #f6f6f6;  
}

div.addArea {
  display: grid;
  grid-template-columns: 250px 1fr;
  border: 1px solid #99cccc;
  padding: 10px 12px 14px 12px;
  width: 410px;
  margin: 0px 0 16px 0;
  background-color: #f6f6f6;
}

div.showAddArea {
  padding: 0px 0px 0px 20px;
  font-weight: normal;
  margin: 15px 0 18px 0;
}

button {
  margin: 4px 5px 4px 5px; 
}

.linky3 {
  padding: 5px 5px 5px 0;  
}

.additem {
  border: 0px #440044 solid;
  padding: 5px;  
  margin-bottom: 15px;
}

div.itemsTable {
  border: 0px solid #999999;
  margin: 15px 0 0 0;
}

ul.itemsTableUL {
  padding: 0 10px 0 10px;
  margin: 0;
  list-style: none;
}

.headerAddLabel {
  font-size: 14px;
  padding: 0 0 15px 15px;
}


.editButtonArea {
  align-self: end;
}

.breadcrumbs {
  border: 0px solid #99cccc;
  padding: 12px 8px 15px 12px;
  text-align: left;
  font-size: 16px;
}

a:hover, a:visited, a:link, a:active {
  color: #6d4c41;
}

.breadcrumbs a:hover, .breadcrumbs a:visited, .breadcrumbs a:link, .breadcrumbs a:active {
  color: #aa4444;
}

.oneCrumb {
  padding: 0 8px 0 0;
}

div.crumbsandsettings {
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr 38px;
  gap: 10px;

}

div.settingsicon {
  padding: 5px 5px 0px 0px;
  justify-self: end;
  align-self: center;
}

.cursorPointer {
  cursor: pointer;
}

.chooseFlatnessForm {
  border: 1px #aaaaaa solid;
  padding: 14px 8px 14px 22px;
  margin-bottom: 15px;
}

@media (min-width: 600px) { /* desktop */
  .App {
    display: flex;
    justify-content: center;
  }
  .mainContainer {
    width: 600px;
  }
  div.crumbsandsettings {
    max-width: 600px;
  }
  .breadcrumbs {
    font-size: 15px;
  }
}

@media (min-width: 450px) and (max-width: 599px) { /* narrow desktop */
  .App {
    display: flex;
    justify-content: center;
  }
  .mainContainer {
    width: 100%;
  }
  div.crumbsandsettings {
    width: 100%;
  }
  .breadcrumbs {
    font-size: 15px;
  }
}

@media (max-width: 449px) { /*  device */
  .hiddenOnDevice {
    display: none;
  }
  .mainContainer {
    margin-top: 0;
    padding-top: 0;
  }
  .topLogo {
    padding: 12px 0px 16px 0px;
  }
  div.crumbsandsettings {
    width: 100%;
  }
  div.itemsTable {
    margin: 10px 0 0 0;
  }
  .headingNameArea {
    font-size: 20px;
  }

}