
.chooseFlatnessForm {
  margin-top: 20px;
}

.loginForm {
  padding: 0 5px 0 10px;
}

div.formlabel {
  margin: 25px 0 7px 0;
  line-height: 25px;
  padding: 0 8px 0 10px;
}
div.loginLine {
  display: grid;
  grid-template-columns: 1fr 54px;
}

.loginLine2 {
  justify-self: start;
  align-self: start;
  padding: 10px 6px 0 0;
}

.loginButtonArea {
  padding-top: 15px;
  display: grid;
  grid-template-columns: 120px 1fr;
  align-items: end;
  justify-items: start;
}

.regbox {
  margin: 0 0 2px 0;
}

.regButton {
  margin: 20px 0 0px 0;
  border: 1px #bbbbbb solid;
  width: 70px;
  padding: 16px 4px 16px 4px;
  background-color: #eeeeee;
}

div.userNameMessage {
  border: 0px #bbbbbb solid;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 0 12px 12px;
}

div.testArea {
  border: 1px solid #44ccaa;
  padding: 20px;
}

div.helpHeader {
  font-size: 20px;
  line-height: 175%;
  font-weight: bold; 
  padding: 10px 10px 10px 12px;
}

div.helpPara {
  font-size: 16px;
  line-height: 175%;
  padding: 10px 10px 10px 12px;
  margin-bottom: 15px;
}

@media (min-width: 450px) { /* desktop */

}

@media (max-width: 449px) { /* device */

}
 


