
.chooseFlatnessForm {
  margin-top: 20px;
}

.loginButtonArea {
  padding-top: 15px;
  display: grid;
  grid-template-columns: 120px 1fr;
  align-items: end;
  justify-items: start;
}

div.testArea {
  border: 1px solid #44ccaa;
  padding: 20px;
}

@media (min-width: 450px) { /* desktop */

}

@media (max-width: 449px) { /* device */

}
 


